html {
  scroll-behavior: smooth;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    font-size: 4em;
    color: white;
    margin: 0;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: white;
    margin: 0;
}

body {
    background-color: #0268A3;
    background: linear-gradient(to right, #005e95 0%, #0080b8 84%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
    color: white;
}

input {
    font-family: 'Nunito', sans-serif;
}

button {
    font-family: 'Nunito', sans-serif;
}

.header {
    color: white;
    margin-top: 10%;
}

/* LOADING */

#alpha {
    width: 100%;
    height: 100%;
    position:fixed;
    animation: showAlpha 1s linear;
}

#spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position:fixed;
  top: 50%;
  left: 50%;
  animation: spin 2s linear infinite;
}

@keyframes showAlpha {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
